*{
    margin: 0;padding: 0;text-decoration: none;
}
td{
    border: 1px solid #ccc;
}
#list_result{
    width: 120px;height: 40px;line-height: 40px;text-align: center;background: aqua;color: #fff;margin: 20px 0;
}
.upload{
    width: 100px;height: 40px;background: deepskyblue;margin: 50px;text-align: center;line-height: 40px;color: #fff;
    cursor: pointer;
}